body {
  background: #e0e0e0;
}

textarea {
  width: 100%;
}

.warnings {
  background: #ffffe0;
  margin: 0.5ex;
  padding: 0.5ex;
}

.errors {
  background: #ffe0e0;
  margin: 0.5ex;
  padding: 0.5ex;
}
